<a href="index.html" class="logo-link">
    <img src="assets/img/logo.png" alt="Logo Clinica Volkmann" loading="lazy">
</a>
<div class="lista-e-endereco">
  <div class="lista">
        <nav aria-label="Navegação Principal">
            <a href="quemsomos.html">QUEM SOMOS</a>
            <a href="especialidades.html">ESPECIALIDADES</a>
            <a href="corpomedico.html">CORPO CLÍNICO</a>
            <a href="consultas.html">CONSULTAS</a>
            <a href="login.html">LOGIN</a>
        </nav>
    </div>
    <div class="enderecos">
        <p>Avenida da Saudade, 1234, Bairro da Paz - São Paulo - SP</p>
        <p>Horário de Atendimento: <br> Seg. a Sex. das 8:00 ás 18:00</p>
        <div class="redes-sociais">
            <a href="https://www.instagram.com/clinica.volkmann/" target="_blank" aria-label="Acessar Instagram da Clínica">
                <img src="assets/img/instagram1.png" alt="Ícone do Instagram" loading="lazy">
            </a>
            <a href="https://pt-br.facebook.com/" target="_blank" aria-label="Acessar Facebook da Clínica">
                <img src="assets/img/facebook.png" alt="Ícone do Facebook" loading="lazy">
            </a>
        </div>
    </div>
    
</div>